body {
  background-color: #CCD4BD!important;
}
h1 {
  color: #252119;
  margin-top: 30px!important;
}
h2 {
  color: #252119;
  margin-top: 30px!important;
  margin-bottom: 70px!important;
}

h3 {
   letter-spacing: 1px;
   margin-bottom: 5px!important;
}

p {
  color: #252119;
  letter-spacing: 1px;
  margin:3px;
}

ul {
	margin-bottom: 30px!important;
}

a {
  color: #252119!important;
    font-weight: bold;
    letter-spacing: 2px;
}

.blogimage {
  margin-left: 100px;
  max-width: 40%!important;
  padding-top:50px;
}

.blogtext {
   margin: 10px!important;
  letter-spacing: 1px;
  font-weight: 250!important;
  max-width: 40%!important;
  font-size: 30px;
  padding-top: 100px;
}

.regtext {
   margin: 10px!important;
  letter-spacing: 1px;
  font-weight: 250!important;
  max-width: 40%!important;
  font-size: 18px;
  padding-top: 50px;
}

.btn-outline-primary {
  color: #252119!important;
  border-color: #252119!important;
}

.btn-outline-primary:hover {
  color:#fff;
  background-color:#B9884C!important;
  border-color:#B9884C!important;
}

.card {
  transition: 0.3s;
  border: 0!important;
  background-color: transparent!important;
  border-radius: 5px; /* 5px rounded corners */
  margin-bottom: 20px;
}

footer {
	text-align: center;
	margin: 15px;
  margin-top: 40px;
	margin-bottom: 30px;
	font-size: 12px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 5px 5px;
}

.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 300px;
}

#portrait {
  width: 85%;
  height: auto;
  border-radius: 50%;
  padding: 1px;
  float: right;
} 




@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    background: #f9f9f9;
    font-size: 16px;
    font-family: 'Raleway', sans-serif
}

.container {
    margin-top: 100px
}

.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

.content {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden
}

.content .content-overlay {
    background: #D2CAC8;
    position: absolute;
      border-radius: 5px 5px 5px 5px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: .5
}

.content-image {
    width: 100%

}

img {
    border-radius: 5px
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #252119;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #252119;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}